/* general reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    max-width: 1240px;
    margin: 0 auto;
}

/* header */
.logo{
    display: block;
    margin: auto;
}

/* main */

/* search bar */
form {
    display: flex;
    position: relative;
}

#search-input {
    display: inline-block;
    width: 100%;
    height: 65px;
    padding: 25px 20px;
    background-color: #e7e7e7;
    border-color: transparent;
    border-radius: 5px;
    font-size: 20px;
}
form svg{
    position: absolute;
    right: 10px;
    top: 18px;
}


/* dropdown */
#container{
    position: relative;
}

#dropdowns-container{
    position: absolute;
    display: flex;
    align-items: baseline;
    width: 100%;
}

.dropdown{
    flex: 0 1 250px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 0 10px 30px 0;
    background-color: #3282f7;
    border-radius: 5px;
}

.dropdown-arrow{
    position: absolute;
    right: 13px;
    top: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown.active .dropdown-arrow{
    transform: rotate(180deg);
}

.dropdown.active{
    flex: 3 0 250px;
}

.dropdown.active #ingredient-list,.dropdown.active #appliance-list,.dropdown.active #ustensil-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ingredient-list, #appliance-list, #ustensil-list{
    display: none;
}

#ingredient-dropdown, #appliance-dropdown, #ustensil-dropdown {
    background-color: #3282f7;
}
#appliance-dropdown{
    background-color: #68d9a4;
}
#ustensil-dropdown{
    background-color: #ed6454;
}

#ingredient-search, #appliance-search, #ustensil-search {
    outline: none;
    appearance: none;
    border: 0;
    padding: 10px 5px;
    color: #FFFFFF;
    width: 100%;
    font-size: 16px;
}

#ingredient-search::placeholder, #appliance-search::placeholder, #ustensil-search::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}

#ingredient-search{
    background-color: #3282f7;
}
#appliance-search{
    background-color: #68d9a4;
}
#ustensil-search{
    background-color: #ed6454;
}
  
.ingredient-button, .appliance-button, .ustensil-button{
    flex: 0 0 190px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    border: 0;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}

/* tags */
#tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    color: #fff;
}

.ingredient-tag {
    background-color: #3282f7;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
.appliance-tag{
    background-color: #68d9a4;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.ustensil-tag{
    background-color:  #ed6454;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* recipes */

#recipes-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}

.recipe{
    flex: 0 0 380px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-bottom: 50px;
}

.recipe-image{
    width: 380px;
    height: 178px;
    background-color: #C7BEBE;
}

.recipe-content{
    padding: 20px;
}

.recipe-title-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recipe-title{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
}

.prep-time{
    display: flex;
    align-items: flex-start;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.prep-time svg {
    margin-right: 7px;
}

.recipe-ingredients-desc{
    display: flex;
    align-items: baseline;
}

.ingredient-list{
    flex: 0 0 50%;
}

.recipe-description{
    flex: 0 0 50%;
    
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.recipe-description p{
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
  -webkit-line-clamp: 6; /* nombre de lignes à afficher */
  -webkit-box-orient: vertical;
}

.ingredient-type{
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}
.ingredient-quantity{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

