form {
    display: flex;
    align-items: center;
    
}
#search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 80%;
    margin-bottom: 50px;
    background-color: bisque;
}
#search-button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Container for ingredient dropdown */
#ingredient-dropdown, #appliance-dropdown, #ustensil-dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #3282f7;
    border-radius: 5px;
}
#appliance-dropdown{
    background-color: #68d9a4;
}
#ustensil-dropdown{
    background-color: #ed6454;
}

#ingredient-search, #appliance-search, #ustensil-search {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

/* Style for each ingredient button in dropdown */
.ingredient-button, .appliance-button, .ustensil-button{
    background-color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Container for ingredient tags */
#tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    color: #fff;
}

/* Style for each ingredient tag */
.ingredient-tag {
    background-color: #3282f7;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
.appliance-tag{
    background-color: #68d9a4;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.ustensil-tag{
    background-color:  #ed6454;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* recette */
.titre-recette{
    background-color: beige;
}