form {
    display: flex;
    align-items: center;
    
}
#search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 80%;
    margin-bottom: 50px;
    background-color: bisque;
}
#search-button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Container for ingredient dropdown */
#ingredient-dropdown, #appliance-dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#ingredient-search, #appliance-search {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

/* Style for each ingredient button in dropdown */
.ingredient-button, .appliance-button {
    background-color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Container for ingredient tags */
#tags{
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

/* Style for each ingredient tag */
.ingredient-tag {
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
.appliance-tag{
    background-color: #179236;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
